/1.Self Assignment/CustomerSelfProject/build/
/1.Self Assignment/CustomerSelfProject/nbproject/private/
/Inheritance/Employee2/ShapeInterface/nbproject/private/
/Inheritance/Employee2/ShapeInterface/build/
/ShapeInterface/nbproject/private/